<%- include('partials/header'); -%>

<body>
    <div class="section-home">
            <% if (user) { %>
                <div class="intro">
                    <h1>Dashboard</h1>
                    <a href="/createJob">Create a new job</a>
                </div>
                





            <% } else { %>
            <h1>Dashboard</h1>
            <h2>You're not connected</h2>
            <img src="design.png" alt="" width="400px">
            <div class="btn">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
            <% } %>
    </div>
    
</body>
</html>