<%- include('partials/header'); -%>

<body>
    <div class="section-home">
            <% if (user) { %>
                <div class="intro">
                    <h1>Dashboard</h1>
                    <a href="/createJob">Create a new job</a>
                </div>



            <% } else { %>
            <h1>Dashboard</h1>
            <h2>You're not connected</h2>
            <img src="images/design.png" alt="" width="400px">
            <div class="btn">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
            <% } %>
            <!-- j'ai mis ça pour essayer tu peux enlever et faire à ta manière -->
            <% if (jobs.length > 0){ %>
            <% jobs.forEach(function(job){ %>
                <%= job.jobTitle %>
                <p id="hiddenID"><%= job._id %></p>
                <button class="deleteButton">Delete</button>
                <% })}; %>

    </div>
    
    <script>

        const deleteButton = document.getElementsByClassName('deleteButton');
        

    </script>

</body>
</html>