<%- include('partials/header'); -%> 

<body>
    <div class="profil-section">
        <div class="myprofil">
            <h1>My profil</h1>
            <a href="">Change password</a>
        </div>
        <div class="image">
            <img src="" alt="">
            <h2>Shana<span>Biot</span></h2>
        </div>
        <div class="detail">
            <p>Email : <span>shanabiot@gmail.com</span></p>
            <p>GitHub : <span>https://www.github.com/DoeJohn</span></p>
            <div class="download">
                <a href="">Download CV</a>
                <a href="">Upload new CV</a>
            </div>
        </div>
    </div>
</body>
</html>